* {
   margin: 0;
   padding: 0;
   font-family: 'Varela Round', sans-serif;
   user-select: none;
   cursor: none;
}

body {
   background: linear-gradient(to right top,#7b00ff2a,#e63b3e40),url(img/space.jpg);
   background-size: cover;
   background-repeat: repeat-y;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.bg {
   position: absolute;
   z-index: -1;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   object-position: center;
   position: absolute;
   pointer-events: none;
}
.main
{
   height: 100vh;
   display: flex;
   align-items: center;
}
.profile-border {
   width: 600px;
   height: 750px;
   border-radius: 30px;
   position: relative;
   background: linear-gradient(to bottom, #7b00ff60, #e63b3e60);
   /*background: linear-gradient(to right top,#7b00ff2a,#e63b3e40);*/
   padding: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 10px 4px black;
   backdrop-filter: blur(5px);
   transition: all .6s;
}

.profile-card {
   width: 650px;
   height: 100%;
   box-shadow: 0 0 200px -20px black;
   border-radius: 25px;
}

.profile-nav {
   border-radius: 25px 25px 0 0;
   position: relative;
   background: linear-gradient(to right, #7b00ff2a, #e63b3e, #7b00ff2a);
   padding-bottom: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 10px 0 black;
   transition: all .4s;
}

.profile-banner {
   width: 100%;
   height: 250px;
   background: url(img/death-800px-25fps.gif);
   background-size: cover;
   background-position: center;
   border-radius: 25px 25px 0 0;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   transition: all .4s;
}

.profile-img-bg {
   position: absolute;
   width: 100%;
   height: 250px;
   border-radius: 25px 25px 0 0;
   background: linear-gradient(to bottom, #7b00ff, #e63b3e, #7b00ff);
   display: flex;
   align-items: flex-end;
   justify-content: center;
   opacity: 0;
   transition: all .6s;
}

.profile-img {
   position: absolute;
   bottom: -70px;
   width: 130px;
   height: 130px;
   border-radius: 100%;
   position: relative;
   background: linear-gradient(to right, #e63b3e, #7b00ff, #7b00ff, #7b00ff, #e63b3e);
   padding: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 10px 4px black;
   pointer-events: none;
   transition: all .6s;
}

.profile-img img {
   width: 100%;
   height: 100%;
   border-radius: 100%;
   transition: all .6s;
}

.profile-inf {
   padding-top: 80px;
   text-align: center;
   transition: all .6s;
}

.profile-inf .username {
   margin-bottom: 100px;
}

.profile-inf .username h1 {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   font-size: 72px;
   display: inline-block;
   background: linear-gradient(to bottom, red 20%, black 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: bold;
   z-index: 200;
}

.profile-inf .username h1:nth-child(2) {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   color: black;
   text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
   font-weight: bold;
   z-index: 100;
}

.profile-detail {
   display: flex;
   flex-direction: column;
   gap: 23px;
}

.profile-detail h2 {
   font-size: 38px;
   color: #942fff;
   font-weight: bold;
   text-shadow: 0 0 5px black, 0 0 5px black;
}

.profile-detail h3 {
   font-size: 32px;
   color: #942fff;
   font-weight: bold;
   text-shadow: 0 0 5px black, 0 0 5px black;
}

.profile-detail h4 {
   font-size: 20px;
   color: #942fff;
   font-weight: bold;
   text-shadow: 0 0 5px black, 0 0 5px black;
   transition: all .5s;
}

@media (hover: hover) {
   .profile-border:hover {
      padding: 0;
   }

   .profile-border:hover .profile-img {
      width: 200px;
      height: 200px;
      border-radius: 30%;
      transition: all .6s;
   }

   .profile-border:hover .profile-img img {
      border-radius: 30%;
   }

   .profile-border:hover .profile-nav {
      padding-bottom: 0;
   }

   .profile-border:hover .profile-img-bg {
      opacity: 1;
   }

   .profile-border:hover .profile-inf {
      padding-top: 20px;
   }

   .profile-border:hover .profile-inf h4 {
      padding-bottom: 10px;
   }

   .profile-border:hover .social-links {
      padding: 40px;
      width: 93%;
      gap: 37px;
   }
   .profile-border:hover .social-links a {
      padding: 20px;
      font-size: 28px;
   }

   .profile-border:hover .lol img
   {
      width: 28px;
   }
   .insta:hover {
      box-shadow: 0 0 30px 15px rgba(120, 64, 190, 1);
   }

   .twitter:hover {
      box-shadow: 0 0 30px 10px rgba(19, 127, 212, 1);
   }

   .github:hover {
      box-shadow: 0 0 30px 10px rgba(63, 65, 67, 1);
   }

   .discord:hover {
      box-shadow: 0 0 30px 10px rgba(34, 120, 233, 1);
   }

   .lol:hover {
      box-shadow: 0 0 30px 10px #c0975e;
   }
}
.social-links {
   margin: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0 0 200px 20px black;
   width: 90%;
   gap: 50px;
   padding: 13px;
   border-radius: 25px;
   transition: all .5s;
}
.social-links a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: white;
   font-size: 23px;
   border-radius: 17px;
   padding: 15px;
   transition: all .4s;
}
.insta {
   background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
   box-shadow: 0 0 10px 5px rgba(120, 64, 190, 1);
}
.twitter {
   background: linear-gradient(45deg, #1da1f2, #0e71c8);
   box-shadow: 0 0 10px 5px rgba(19, 127, 212, 0.7);
}
.github {
   background: linear-gradient(45deg, #333333, #626b73);
   box-shadow: 0 0 10px 5px rgba(63, 65, 67, 0.7);
}
.discord {
   background: linear-gradient(45deg, #7289DA, #4682B4, #4682B4, #191970);
   box-shadow: 0 0 10px 5px rgba(34, 120, 233, 0.7);
}
.lol img {
   width: 24px;
   transition: all .4s;
}
.lol {
   background: linear-gradient(45deg, #1A859E, #098198, #c0975e, #D6AE6E);
   box-shadow: 0 0 10px 5px #c0975e;
}
@media (max-width:620px) {
   .profile-border {
      width: 400px;
      border-radius: 25px;
      padding: 5px;
   }

   .profile-card {
      width: 400px;
      height: 100%;
   }

   .social-links {
      gap: 10px;
   }

   .social-links a {
      font-size: 18px;
   }

   .lol img {
      width: 18px;
   }

   .profile-inf .username h1 {
      font-size: 64px;
   }

   .profile-detail h2 {
      font-size: 38px;
   }

   .profile-detail h3 {
      font-size: 32px;
   }

   .profile-detail {
      gap: 27px;
   }
}
@media (max-width:450px)
{
   .profile-border {
      width: 350px;
      height: 650px;
      border-radius: 25px;
      padding: 5px;
   }

   .profile-card {
      width: 350px;
      height: 100%;
   }

   .profile-banner {
      height: 150px;
   }

   .profile-img-bg
   {
      height: 150px;
   }

   .profile-img {
      top: 80px;
      width: 115px;
      height: 115px;
   }
}
.cursor
{
   z-index: 5000;
   background-color: #d33638;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   position: fixed;
   pointer-events: none;
   box-shadow: 0 0 20px #d33638,0 0 60px #d33638,0 0 100px #d33638;
   animation: colors 4s infinite;
   transform: translate(-50%,-50%);
   display: none;
   transition: none;
}
@keyframes colors
{
   0%
   {
      filter: hue-rotate(0deg);
   }
   100%
   {
      filter: hue-rotate(360deg);
   }
}
.cursor::before
{
   content: '';
   position: absolute;
   background-color: #d33638;
   width: 50px;
   height: 50px;
   opacity: 0.4;
   transform: translate(-30%,-30%);
   border-radius: 50%;
}